div#content {
	display: flex;
	flex-flow: row wrap;
}

div#secondary,div#tertiary {
	flex: 1 100%;
}

main {
	flex: 2 100%;
}

nav#site-navigation {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}

@media (min-width:600px) {
	div#secondary,div#tertiary {
		flex: 1 auto;
	}
}

@media (min-width:800px) {
	main {
		flex: 2 0%;
		order: 2
	}

	div#secondary {
		order: 1
	}

	div#tertiary {
		order: 3
	}
}