/* need to find a way to handle padding that isn't on mobile */
#content-tray.tray article .tray {
	padding-left: 1.50rem;
	padding-right: 1.50rem;
}

/*--------------------------------------------------------------
*  Navigation
--------------------------------------------------------------*/
body.desktop .main-nav li li:last-child {
	padding-bottom: .75rem;/* undo padding-bottom: 0 for desktop dropdowns */
}
body.desktop .main-nav ul ul {
	top: 100%;
	left: -16em;/* doesn't have to be exactly same as width, just 100% was sometimes too small */
	right: -16em;
	margin: 0  auto;
	/*	max-width: none;*/
	width: 16em;
}
nav a[href="#"], nav a:not([href]) {
	cursor: default;/* keep normal mouse pointer on parent menu items that are custom links with no link */
}

body.desktop nav.main-nav ul.menu > li {
/*	display: table-cell;*/
/*	vertical-align: middle;*/
	position: relative;
	padding: 0.75rem;
}
span.menu-toggle {
	display: none;
}
body.desktop nav.main-nav ul ul {
	position: absolute;
	z-index: 99;/* need anymore cause of parent z-index? */
	display: none;
}
body.desktop nav.main-nav ul li:hover > ul,
body.desktop nav.main-nav ul li.focus > ul {
	display: block;
}
body.desktop nav.main-nav ul ul li:hover > ul,
body.desktop nav.main-nav ul ul li.focus > ul {
	display: block;
	left: 100%;
	width: 100%;
}
/* Cheap way of fixing sub-menues on the end. Could be -n+3 or +2 */
nav.main-nav ul.menu > li:nth-last-child(-n+1) > ul.sub-menu {
	right: -1.50rem;
	left: initial;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery-columns-3 .gallery-item{width: 33.333%;}
.gallery-columns-4 .gallery-item, .gallery-item{width: 25%;}

@media (min-width:900px){
	.gallery-columns-5 .gallery-item{width: 20%;}
	.gallery-columns-6 .gallery-item, .gallery-item{width: 16.667%;}
}
@media (min-width:1200px){
	.gallery-columns-7 .gallery-item{width: 14.286%;}
	.gallery-columns-8 .gallery-item{width: 12.5%;}
	.gallery-columns-9 .gallery-item{width: 11.111%;}
}