body {
	margin: 0;
	padding: 0;
}
#login {
	background: #fff;
	margin: 8% auto 0;
	padding: 20px;
	width: 400px;
	max-width: 100%;
	box-sizing: border-box;
}
#login p {
	margin: 20px 0 0;
	font-size: 14px;
}
#login h1 {
	text-align: center;
	margin: 20px;
	font-size: 40px;
}
#login h1 a {
	text-decoration: none;
	pointer-events: none;
	cursor: default;
}
#login form {
	overflow: hidden;
}
#login .input {
	font-size: 24px;
	width: 100%;
	border: 0;
	border-bottom: 1px solid #444;
	text-align: center;
	padding: 1em 0 0;
	box-sizing: border-box;
}
#login .forgetmenot {
	float: left;
	font-size: 12px;
}
#login .submit {
	float: right;
}
#login .button-primary {
	line-height: 28px;
	padding: 0 8px;
	display: inline-block;
	margin: 0;
	font-size: 12px;
	width: initial;
	min-width: 0;
}
