.dont-print,#header,#footer,.widget-area,#respond,.edit-link,#wpadminbar,video[loop]{display:none !important;}
#content,#content-tray,#primary,#main{margin:0 !important;padding:0 !important;width:100% !important;max-width:100% !important;}
*{color:#000 !important;background:none !important;box-shadow:none !important;text-shadow:none !important;}
a[href]:after{content:" (" attr(href) ") ";}